<div class="pagination-details">
    <ul class="pagination pagination-details d-flex">
        <li>
            <a href="#">
                <img src="./assets/images/Arrow_2.svg" alt="">
            </a>

            <span>Previous article</span>
        </li>

        <li class="button-close">
            <a href="#">
                <img src="./assets/images/Icon_Close.svg" alt="">
            </a>
            <span>Close</span>
        </li>

        <li>
            <span>Next article</span>
            <a href="#">
                <img src="./assets/images/Arrow_2.svg" alt="">
            </a>
        </li>
    </ul>
</div>