<div class="block-plurimum media-post">
    <h2>
        Plurimum in amicitia amicorum bene suaden
    </h2>

    <div class="row-col">
        <div class="col-left">
            <p class="text-medium">Itaque earum rerum hic tenetur a sapiente delectus, ut aut reiciendis voluptatibus maiores</p>

            <ul class="list-plurimum">
                <li>
                    Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam nisi ut aliquid ex ea commodi consequatur
                </li>
                <li>
                    At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati
                </li>
                <li>
                    Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus
                </li>
            </ul>

            <a class="link-more" href="#">
                www.molestiasexcepturi.com
            </a>
        </div>

        <div class="col-right">
            <div class="include-image">
                <img src="./assets/images/media-event-open-pl.jpg" alt="">
            </div>
        </div>
    </div>
</div>
