<header id="header">
    <div class="wrapper full-width">
        <div class="top-header">
            <div class="text">Enabling Technology and Connections for a <a href="#">better future</a></div>
            <div class="cta">
                <a href="#" class="link-cta">Contact</a>
            </div>
        </div>
        <div class="main-header">
            <a href="#" class="logo"><img src="./assets/images/logo.png" alt=""></a>
            <ul class="main-menu">
                <li class="menu-item-has-children">
                    <a href="#">Company</a>
                    <ul class="sub-menu">
                        <li><a href="#">Sub menu1</a></li>
                        <li><a href="#">Sub menu2</a></li>
                        <li><a href="#">Sub menu3</a></li>
                    </ul>
                </li>
                <li class="menu-item-has-children">
                    <a href="#">Products & Services</a>
                    <ul class="sub-menu">
                        <li><a href="#">Sub menu1</a></li>
                        <li><a href="#">Sub menu2</a></li>
                        <li><a href="#">Sub menu3</a></li>
                    </ul>
                </li>
                <li><a href="#">Customers & Partners</a></li>
                <li><a href="#">Our Values</a></li>
                <li><a href="#">Media & Events</a></li>
                <li><a href="#">Career</a></li>
            </ul>
        </div>
    </div>
</header>
