<div class="banner-home">
    <div class="slider-wrapper">
        <div class="slide-banner">
            <div class="item-slide" style="background-image: url(./assets/images/slide-img.jpg)">
                <div class="wrapper full-width">
                    <div class="slide-content">
                        <div class="content-center">
                            <h1 class="title">ETC GROUP</h1>
                            <p>Telecom Materials Distribution & Supply<br> Chain Management Solutions</p>
                        </div>
                        <div class="animate-text">
                            <div class="item item-1">Expertise</div>
                            <div class="item item-2">Technologies</div>
                            <div class="item item-3">Consultancy</div>
                            <div class="item item-4">Logistic</div>
                            <div class="item item-5">Maintenance</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="item-slide" style="background-image: url(./assets/images/slide-img.jpg)">
                <div class="wrapper full-width">
                    <div class="slide-content">
                        <div class="content-center">
                            <h1 class="title">ETC GROUP</h1>
                            <p>Telecom Materials Distribution & Supply<br> Chain Management Solutions</p>
                        </div>
                        <div class="animate-text">
                            <div class="item item-1">Expertise</div>
                            <div class="item item-2">Technologies</div>
                            <div class="item item-3">Consultancy</div>
                            <div class="item item-4">Logistic</div>
                            <div class="item item-5">Maintenance</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="item-slide" style="background-image: url(./assets/images/slide-img.jpg)">
                <div class="wrapper full-width">
                    <div class="slide-content">
                        <div class="content-center">
                            <h1 class="title">ETC GROUP</h1>
                            <p>Telecom Materials Distribution & Supply<br> Chain Management Solutions</p>
                        </div>
                        <div class="animate-text">
                            <div class="item item-1">Expertise</div>
                            <div class="item item-2">Technologies</div>
                            <div class="item item-3">Consultancy</div>
                            <div class="item item-4">Logistic</div>
                            <div class="item item-5">Maintenance</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="bottom-slide">
            <div class="number-slide"></div>
            <div class="slider-progress">
                <div class="progress"></div>
            </div>
            <div class="number-total"></div>
        </div>
    </div>
</div>
