<div class="banner banner-two-column">
    <div class="banner-main">
        <div class="wrapper full-width">
            <ul class="breadcrumb">
                <li><a href="#">Home</a></li>
                <li class="active">Career</li>
            </ul>
            <div class="content col-5">
                <h1 class="title">Career</h1>
                <p>Haec igitur prima lex amicitiae sanciatur, ut ab amicis honesta petamus, amicorum causa honesta
                    faciamus, ne exspectemus quidem, dum rogemur</p>
            </div>
        </div>
        <div class="feature bg" style="background-image: url(./assets/images/banner-carrer.jpg)"></div>
    </div>
</div>
