<div class="banner banner-contact">
    <div class="banner-main">
        <div class="wrapper full-width">
            <ul class="breadcrumb">
                <li><a href="#">Home</a></li>
                <li class="active">Media & Events</li>
            </ul>
            <div class="content col-6">
                <h1 class="title">Contact</h1>
                <div class="form-group">
                    <label>Choose a country :</label>
                    <select class="select2 selectContact">
                        <option value="France">France</option>
                        <option value="United States">United States</option>
                        <option value="United States">United States 3</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="feature bg" style="background-image: url(./assets/images/banner-contact.jpg)"></div>
    </div>
    <div class="banner-bottom">
        <div class="wrapper full-width">
            <div class="row-col d-flex">
                <div class="col-left">
                    <div class="country-des show">
                        <div class="location">île-de-france</div>
                        <h3 class="name">Renaud LE GAC</h3>
                        <div class="position">Sales manager</div>
                        <div class="info-content">
                            <p><a href="">renaudlegac@eurotechno.com</a></p>
                            <p>
                                <a href="">01 34 06 01 84</a><br>
                                <a href="">01 34 06 01 84</a>
                            </p>
                            <p>1 Rue des Alouettes<br>
                                95600 Eaubonne</p>
                        </div>
                        <p><a href="#" class="link-more">Contact</a></p>
                    </div>
                    <div class="country-des">
                        <div class="location">île-de-france 2</div>
                        <h3 class="name">Renaud LE GAC 2</h3>
                        <div class="position">Culi manager</div>
                        <div class="info-content">
                            <p><a href="">renaudlegac@eurotechno.com</a></p>
                            <p>
                                <a href="">01 34 06 01 84</a><br>
                                <a href="">01 34 06 01 84</a>
                            </p>
                            <p>1 Rue des Alouettes<br>
                                95600 Eaubonne</p>
                        </div>
                        <p><a href="#" class="link-more">Contact</a></p>
                    </div>
                    <div class="country-des">
                        <div class="location">île-de-france 2</div>
                        <h3 class="name">Renaud LE GAC 2</h3>
                        <div class="position">Culi manager</div>
                        <div class="info-content">
                            <p><a href="">renaudlegac@eurotechno.com</a></p>
                            <p>
                                <a href="">01 34 06 01 84</a><br>
                                <a href="">01 34 06 01 84</a>
                            </p>
                            <p>1 Rue des Alouettes<br>
                                95600 Eaubonne</p>
                        </div>
                        <p><a href="#" class="link-more">Contact</a></p>
                    </div>
                </div>
                <div class="col-right">
                    <img src="./assets/images/contact-map.jpg" alt="" class="img-right">
                </div>
            </div>
        </div>
    </div>
</div>
