<div class="banner banner-media-event-open">
    <div class="banner-main">
        <div class="wrapper full-width">
            <ul class="breadcrumb">
                <li><a href="#">Home</a></li>
                <li class="active">Media & Events</li>
            </ul>
        </div>
    </div>

    <div class="banner-bottom">
        <div class="wrapper">
            <div class="pic">
                <img src="./assets/images/banner-media-event-open.jpg" alt="" class="img-right">
            </div>
        </div>
    </div>
</div>