<div class="banner banner-media-event">
    <div class="banner-main">
        <div class="wrapper full-width">
            <ul class="breadcrumb">
                <li><a href="#">Home</a></li>
                <li class="active">Services & Products</li>
            </ul>
            <h1 class="title">Products</h1>
        </div>
    </div>
    <div class="banner-bottom">
        <div class="wrapper">
            <div class="row-col d-flex">
                <div class="col-left">
                    <p class="text-medium">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
                        ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                        aliquip.</p>
                    <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                        Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est
                        laborum excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id
                        est laborum.</p>
                </div>
                <div class="col-right">
                    <img src="./assets/images/banner-products.jpg" alt="" class="img-right">
                </div>
            </div>
        </div>
    </div>
</div>
