<div class="block-content-two-column">
    <div class="wrapper">
        <h2 class="title">The group is a leader and the critical link between the sourcing and distribution of equipment
            and materials for the telecom market in Europe and in the US</h2>
        <div class="row d-flex">
            <div class="col">
                <p>Founded in 1993, ETC Group is a leading actor in EMEA (France, Portugal and Israël) and in the US, in
                    the design, procurement and distribution of materials, tooling and equipments used by subcontractors
                    to install and maintain telecommunications infrastructure networks to the building and to the
                    home.</p>
            </div>
            <div class="col">
                <p>One of the key markets where ETC Group has unparalleled expertise is in the “Superfast Broadband”
                    fibre networks: end-to-end FttH (fibre to the home) and HFC (hybrid fibre-coaxial), the latter of
                    which includes FttB (fibre to the building plus coaxial cable for the last small section to the
                    home)</p>
            </div>
        </div>
    </div>
</div>
