<div class="block-etc-group">
    <div class="wrapper">
        <h2>ETC group provides an end-to-end catalogue of referenced network components and other equipment to network installers</h2>
    </div>
</div>