<div class="block-history-slide">
    <div class="top-content">
        <div class="feature" style="background-image: url(./assets/images/bg-history.jpg)"></div>
        <div class="wrapper">
            <div class="content">
                <h2>The history of<br> ETC GROUP</h2>
            </div>
        </div>
    </div>
    <div class="slide-bottom">
        <div class="wrapper">
            <div class="list-slide">
                <div class="item">
                    <h3 class="h2 year">1993</h3>
                    <p>Creation of ETC France by Cédric Varasteh: historical firm and headquarters located near
                        Paris</p>
                </div>
                <div class="item">
                    <h3 class="h2 year">2000</h3>
                    <p>Creation of a new subsidiary in France specialized in sale of plastic installation collars</p>
                </div>
                <div class="item">
                    <h3 class="h2 year">2014</h3>
                    <p>Opening of the Israeli subsidiary</p>
                </div>
                <div class="item">
                    <h3 class="h2 year">2016</h3>
                    <p>Opening of the Israeli subsidiary</p>
                </div>
                <div class="slider-nav">
                    <span class="slick-prev"><img src="./assets/images/Arrow_2.svg" alt=""></span>
                    <span class="slick-next"><img src="./assets/images/Arrow_2.svg" alt=""></span>
                </div>
            </div>
        </div>
    </div>
</div>
