<div class="block-key-figures">
    <div class="wrapper">
        <div class="box-content">
            <h2 class="title">ETC is a leading network equipment design, sourcing and logistics supplier to telecom
                operators</h2>
            <div class="row-col d-flex">
                <div class="col-left">
                    <div class="row-item d-flex">
                        <div class="item">
                            <h3>$ 500m</h3>
                            <p>$500m of revenue in FY2018, providing significant business scale</p>
                        </div>
                        <div class="item">
                            <h3>10,000</h3>
                            <p>SKUs available at all time with 60% of ETC-branded products</p>
                        </div>
                        <div class="item">
                            <h3>&#62; 9m</h3>
                            <p>Kilometres of fibre cables secured for 2019</p>
                        </div>
                        <div class="item">
                            <h3>3</h3>
                            <p>Major partnerships with cable & fibre manufacturers </p>
                        </div>
                        <div class="item">
                            <h3>70,000</h3>
                            <p>Square meters of warehouse facilities for fast delivery & operator logistics
                                management</p>
                        </div>
                        <div class="item">
                            <h3>1</h3>
                            <p>Experienced team fully dedicated to help clients achieve their objectives & deploy faster
                                since 1993</p>
                        </div>
                        <div class="item">
                            <h3>&#62; 400</h3>
                            <p>Sourcing and supplying partners</p>
                        </div>
                        <div class="item">
                            <h3>&#62; 2,000</h3>
                            <p>Clients from the whole value chain</p>
                        </div>
                        <div class="item">
                            <h3>610</h3>
                            <p>Employees across 5 offices in 4 countries</p>
                        </div>
                        <div class="item">
                            <h3>4</h3>
                            <p>Countries: France, USA, Portugal, Israel</p>
                        </div>
                    </div>
                </div>
                <div class="col-right">
                    <img src="./assets/images/media-event-open-pl.jpg" alt="" class="image-right">
                </div>
            </div>
        </div>
    </div>
</div>
