<div class="block-localisation">
    <div class="wrapper full-width">
        <div class="box-location bg" style="background-image: url(./assets/images/bg-map.jpg)">
            <div class="content-location">
                <div class="left">
                    <a href="#" class="btn btn-white">America</a>
                </div>
                <div class="center-text">
                    <h2 class="title">Global Telecom Distributor</h2>
                    <p>(design, procurement, logistics, distribution, optimization solutions, execution)</p>
                </div>
                <div class="right">
                    <a href="#" class="btn btn-white">Europe</a>
                </div>
            </div>
        </div>
    </div>
</div>
