<div class="wrapper-products">
    <div class="block-lorem-ipsum">
        <div class="row-col d-flex">
            <div class="col-left col-8">
                <div class="content">
                    <h3>Lorem ipsum dolor sit admet</h3>

                    <div class="list-products">
                        <div class="title-list-products">
                            <div class="col-3 font-title">
                                product family
                            </div>

                            <div class="col-3 font-title text-center">
                                description
                            </div>

                            <div class="col-3 font-title">
                                examples of products
                            </div>
                            <div class="col-3 font-title"></div>
                        </div>

                        <div class="content-list-products">
                            <div class="accordian">
                                <div class="accordian-item">
                                    <div class="col-3 products-title">
                                        Networking
                                    </div>

                                    <div class="col-3 description">
                                        All cables linked to the<br>optical fibre
                                    </div>

                                    <div class="col-3">
                                        <img src="./assets/images/ex-products.png" alt="" class="img-sort">
                                    </div>

                                    <div class="col-3">
                                        <button class="read-more">See more</button>
                                    </div>
                                </div>

                                <div class="accordian-item-content">
                                    <div class="list-wrap">
                                        <div class="list-item">
                                            <h4>Transceivers</h4>
                                            <ul>
                                                <li>
                                                    1G/10G/25G switches
                                                </li>
                                                <li>
                                                    40G/100G/400G swiches
                                                </li>
                                                <li>
                                                    PoE Switches
                                                </li>
                                                <li>
                                                    Enterprise Routers
                                                </li>
                                                <li>
                                                    Accessories
                                                </li>
                                            </ul>

                                            <img src="./assets/images/sans-titre.jpg" alt="" class="img-bottom">
                                        </div>

                                        <div class="list-item">
                                            <h4>PDU, UPS, Power system</h4>

                                            <ul>
                                                <li>
                                                    PDU power strips
                                                </li>
                                                <li>
                                                    Uninterruptible power supply (UPS)
                                                </li>
                                                <li>
                                                    IEC power cords
                                                </li>
                                            </ul>

                                            <img src="./assets/images/pdu.jpg" alt="" class="img-bottom">
                                        </div>

                                        <div class="list-item">
                                            <h4>Transceivers</h4>

                                            <ul>
                                                <li>
                                                    400G/100G/25G transceivers
                                                </li>
                                                <li>
                                                    40G/10G transceivers
                                                </li>
                                                <li>
                                                    5G network transceivers
                                                </li>
                                                <li>
                                                    Direct attach cables (DAC)
                                                </li>
                                                <li>
                                                    Active Optical Cables (AOC)
                                                </li>
                                                <li>
                                                    1000BASE transceivers
                                                </li>
                                            </ul>

                                            <img src="./assets/images/usb.jpg" alt="" class="img-bottom">
                                        </div>

                                        <div class="list-item">
                                            <h4>Wireless</h4>

                                            <ul>
                                                <li>
                                                    Wireless Access Point – Indoor
                                                </li>
                                                <li>
                                                    Wireless Access Point – Outdoor
                                                </li>
                                                <li>
                                                    Wireless Management solutions
                                                </li>
                                                <li>
                                                    Accessories
                                                </li>
                                            </ul>

                                            <img src="./assets/images/ruckus.jpg" alt="" class="img-bottom">
                                        </div>
                                    </div>

                                    <button class="read-less">See less</button>
                                </div>
                            </div>

                            <div class="accordian">
                                <div class="accordian-item">
                                    <div class="col-3 products-title">
                                        Cables & Duct
                                    </div>

                                    <div class="col-3 description">
                                        All cables linked to the<br>optical fibre
                                    </div>

                                    <div class="col-3">
                                        <img src="./assets/images/ex-products.png" alt="" class="img-sort">
                                    </div>

                                    <div class="col-3">
                                        <button class="read-more">See more</button>
                                    </div>
                                </div>

                                <div class="accordian-item-content">
                                    <div class="list-wrap">
                                        <div class="list-item">
                                            <h4>Transceivers</h4>
                                            <ul>
                                                <li>
                                                    1G/10G/25G switches
                                                </li>
                                                <li>
                                                    40G/100G/400G swiches
                                                </li>
                                                <li>
                                                    PoE Switches
                                                </li>
                                                <li>
                                                    Enterprise Routers
                                                </li>
                                                <li>
                                                    Accessories
                                                </li>
                                            </ul>

                                            <img src="./assets/images/sans-titre.jpg" alt="" class="img-bottom">
                                        </div>

                                        <div class="list-item">
                                            <h4>PDU, UPS, Power system</h4>

                                            <ul>
                                                <li>
                                                    PDU power strips
                                                </li>
                                                <li>
                                                    Uninterruptible power supply (UPS)
                                                </li>
                                                <li>
                                                    IEC power cords
                                                </li>
                                            </ul>

                                            <img src="./assets/images/pdu.jpg" alt="" class="img-bottom">
                                        </div>

                                        <div class="list-item">
                                            <h4>Transceivers</h4>

                                            <ul>
                                                <li>
                                                    400G/100G/25G transceivers
                                                </li>
                                                <li>
                                                    40G/10G transceivers
                                                </li>
                                                <li>
                                                    5G network transceivers
                                                </li>
                                                <li>
                                                    Direct attach cables (DAC)
                                                </li>
                                                <li>
                                                    Active Optical Cables (AOC)
                                                </li>
                                                <li>
                                                    1000BASE transceivers
                                                </li>
                                            </ul>

                                            <img src="./assets/images/usb.jpg" alt="" class="img-bottom">
                                        </div>

                                        <div class="list-item">
                                            <h4>Wireless</h4>

                                            <ul>
                                                <li>
                                                    Wireless Access Point – Indoor
                                                </li>
                                                <li>
                                                    Wireless Access Point – Outdoor
                                                </li>
                                                <li>
                                                    Wireless Management solutions
                                                </li>
                                                <li>
                                                    Accessories
                                                </li>
                                            </ul>

                                            <img src="./assets/images/ruckus.jpg" alt="" class="img-bottom">
                                        </div>
                                    </div>

                                    <button class="read-less">See less</button>
                                </div>
                            </div>

                            <div class="accordian">
                                <div class="accordian-item">
                                    <div class="col-3 products-title">
                                        Cable assemblies
                                    </div>

                                    <div class="col-3 description">
                                        All cables linked to the<br>optical fibre
                                    </div>

                                    <div class="col-3">
                                        <img src="./assets/images/ex-products.png" alt="" class="img-sort">
                                    </div>

                                    <div class="col-3">
                                        <button class="read-more">See more</button>
                                    </div>
                                </div>

                                <div class="accordian-item-content">
                                    <div class="list-wrap">
                                        <div class="list-item">
                                            <h4>Transceivers</h4>
                                            <ul>
                                                <li>
                                                    1G/10G/25G switches
                                                </li>
                                                <li>
                                                    40G/100G/400G swiches
                                                </li>
                                                <li>
                                                    PoE Switches
                                                </li>
                                                <li>
                                                    Enterprise Routers
                                                </li>
                                                <li>
                                                    Accessories
                                                </li>
                                            </ul>

                                            <img src="./assets/images/sans-titre.jpg" alt="" class="img-bottom">
                                        </div>

                                        <div class="list-item">
                                            <h4>PDU, UPS, Power system</h4>

                                            <ul>
                                                <li>
                                                    PDU power strips
                                                </li>
                                                <li>
                                                    Uninterruptible power supply (UPS)
                                                </li>
                                                <li>
                                                    IEC power cords
                                                </li>
                                            </ul>

                                            <img src="./assets/images/pdu.jpg" alt="" class="img-bottom">
                                        </div>

                                        <div class="list-item">
                                            <h4>Transceivers</h4>

                                            <ul>
                                                <li>
                                                    400G/100G/25G transceivers
                                                </li>
                                                <li>
                                                    40G/10G transceivers
                                                </li>
                                                <li>
                                                    5G network transceivers
                                                </li>
                                                <li>
                                                    Direct attach cables (DAC)
                                                </li>
                                                <li>
                                                    Active Optical Cables (AOC)
                                                </li>
                                                <li>
                                                    1000BASE transceivers
                                                </li>
                                            </ul>

                                            <img src="./assets/images/usb.jpg" alt="" class="img-bottom">
                                        </div>

                                        <div class="list-item">
                                            <h4>Wireless</h4>

                                            <ul>
                                                <li>
                                                    Wireless Access Point – Indoor
                                                </li>
                                                <li>
                                                    Wireless Access Point – Outdoor
                                                </li>
                                                <li>
                                                    Wireless Management solutions
                                                </li>
                                                <li>
                                                    Accessories
                                                </li>
                                            </ul>

                                            <img src="./assets/images/ruckus.jpg" alt="" class="img-bottom">
                                        </div>
                                    </div>

                                    <button class="read-less">See less</button>
                                </div>
                            </div>

                            <div class="accordian">
                                <div class="accordian-item">
                                    <div class="col-3 products-title">
                                        Wireless<br>
                                        infrastructure
                                    </div>

                                    <div class="col-3 description">
                                        All cables linked to the<br>optical fibre
                                    </div>

                                    <div class="col-3">
                                        <img src="./assets/images/ex-products.png" alt="" class="img-sort">
                                    </div>

                                    <div class="col-3">
                                        <button class="read-more">See more</button>
                                    </div>
                                </div>

                                <div class="accordian-item-content">
                                    <div class="list-wrap">
                                        <div class="list-item">
                                            <h4>Transceivers</h4>
                                            <ul>
                                                <li>
                                                    1G/10G/25G switches
                                                </li>
                                                <li>
                                                    40G/100G/400G swiches
                                                </li>
                                                <li>
                                                    PoE Switches
                                                </li>
                                                <li>
                                                    Enterprise Routers
                                                </li>
                                                <li>
                                                    Accessories
                                                </li>
                                            </ul>

                                            <img src="./assets/images/sans-titre.jpg" alt="" class="img-bottom">
                                        </div>

                                        <div class="list-item">
                                            <h4>PDU, UPS, Power system</h4>

                                            <ul>
                                                <li>
                                                    PDU power strips
                                                </li>
                                                <li>
                                                    Uninterruptible power supply (UPS)
                                                </li>
                                                <li>
                                                    IEC power cords
                                                </li>
                                            </ul>

                                            <img src="./assets/images/pdu.jpg" alt="" class="img-bottom">
                                        </div>

                                        <div class="list-item">
                                            <h4>Transceivers</h4>

                                            <ul>
                                                <li>
                                                    400G/100G/25G transceivers
                                                </li>
                                                <li>
                                                    40G/10G transceivers
                                                </li>
                                                <li>
                                                    5G network transceivers
                                                </li>
                                                <li>
                                                    Direct attach cables (DAC)
                                                </li>
                                                <li>
                                                    Active Optical Cables (AOC)
                                                </li>
                                                <li>
                                                    1000BASE transceivers
                                                </li>
                                            </ul>

                                            <img src="./assets/images/usb.jpg" alt="" class="img-bottom">
                                        </div>

                                        <div class="list-item">
                                            <h4>Wireless</h4>

                                            <ul>
                                                <li>
                                                    Wireless Access Point – Indoor
                                                </li>
                                                <li>
                                                    Wireless Access Point – Outdoor
                                                </li>
                                                <li>
                                                    Wireless Management solutions
                                                </li>
                                                <li>
                                                    Accessories
                                                </li>
                                            </ul>

                                            <img src="./assets/images/ruckus.jpg" alt="" class="img-bottom">
                                        </div>
                                    </div>

                                    <button class="read-less">See less</button>
                                </div>
                            </div>

                            <div class="accordian">
                                <div class="accordian-item">
                                    <div class="col-3 products-title">
                                        Passive<br>
                                        Components
                                    </div>

                                    <div class="col-3 description">
                                        All cables linked to the<br>optical fibre
                                    </div>

                                    <div class="col-3">
                                        <img src="./assets/images/ex-products.png" alt="" class="img-sort">
                                    </div>

                                    <div class="col-3">
                                        <button class="read-more">See more</button>
                                    </div>
                                </div>

                                <div class="accordian-item-content">
                                    <div class="list-wrap">
                                        <div class="list-item">
                                            <h4>Transceivers</h4>
                                            <ul>
                                                <li>
                                                    1G/10G/25G switches
                                                </li>
                                                <li>
                                                    40G/100G/400G swiches
                                                </li>
                                                <li>
                                                    PoE Switches
                                                </li>
                                                <li>
                                                    Enterprise Routers
                                                </li>
                                                <li>
                                                    Accessories
                                                </li>
                                            </ul>

                                            <img src="./assets/images/sans-titre.jpg" alt="" class="img-bottom">
                                        </div>

                                        <div class="list-item">
                                            <h4>PDU, UPS, Power system</h4>

                                            <ul>
                                                <li>
                                                    PDU power strips
                                                </li>
                                                <li>
                                                    Uninterruptible power supply (UPS)
                                                </li>
                                                <li>
                                                    IEC power cords
                                                </li>
                                            </ul>

                                            <img src="./assets/images/pdu.jpg" alt="" class="img-bottom">
                                        </div>

                                        <div class="list-item">
                                            <h4>Transceivers</h4>

                                            <ul>
                                                <li>
                                                    400G/100G/25G transceivers
                                                </li>
                                                <li>
                                                    40G/10G transceivers
                                                </li>
                                                <li>
                                                    5G network transceivers
                                                </li>
                                                <li>
                                                    Direct attach cables (DAC)
                                                </li>
                                                <li>
                                                    Active Optical Cables (AOC)
                                                </li>
                                                <li>
                                                    1000BASE transceivers
                                                </li>
                                            </ul>

                                            <img src="./assets/images/usb.jpg" alt="" class="img-bottom">
                                        </div>

                                        <div class="list-item">
                                            <h4>Wireless</h4>

                                            <ul>
                                                <li>
                                                    Wireless Access Point – Indoor
                                                </li>
                                                <li>
                                                    Wireless Access Point – Outdoor
                                                </li>
                                                <li>
                                                    Wireless Management solutions
                                                </li>
                                                <li>
                                                    Accessories
                                                </li>
                                            </ul>

                                            <img src="./assets/images/ruckus.jpg" alt="" class="img-bottom">
                                        </div>
                                    </div>

                                    <button class="read-less">See less</button>
                                </div>
                            </div>

                            <div class="accordian">
                                <div class="accordian-item">
                                    <div class="col-3 products-title">
                                        Connectors
                                    </div>

                                    <div class="col-3 description">
                                        All cables linked to the<br>optical fibre
                                    </div>

                                    <div class="col-3">
                                        <img src="./assets/images/ex-products.png" alt="" class="img-sort">
                                    </div>

                                    <div class="col-3">
                                        <button class="read-more">See more</button>
                                    </div>
                                </div>

                                <div class="accordian-item-content">
                                    <div class="list-wrap">
                                        <div class="list-item">
                                            <h4>Transceivers</h4>
                                            <ul>
                                                <li>
                                                    1G/10G/25G switches
                                                </li>
                                                <li>
                                                    40G/100G/400G swiches
                                                </li>
                                                <li>
                                                    PoE Switches
                                                </li>
                                                <li>
                                                    Enterprise Routers
                                                </li>
                                                <li>
                                                    Accessories
                                                </li>
                                            </ul>

                                            <img src="./assets/images/sans-titre.jpg" alt="" class="img-bottom">
                                        </div>

                                        <div class="list-item">
                                            <h4>PDU, UPS, Power system</h4>

                                            <ul>
                                                <li>
                                                    PDU power strips
                                                </li>
                                                <li>
                                                    Uninterruptible power supply (UPS)
                                                </li>
                                                <li>
                                                    IEC power cords
                                                </li>
                                            </ul>

                                            <img src="./assets/images/pdu.jpg" alt="" class="img-bottom">
                                        </div>

                                        <div class="list-item">
                                            <h4>Transceivers</h4>

                                            <ul>
                                                <li>
                                                    400G/100G/25G transceivers
                                                </li>
                                                <li>
                                                    40G/10G transceivers
                                                </li>
                                                <li>
                                                    5G network transceivers
                                                </li>
                                                <li>
                                                    Direct attach cables (DAC)
                                                </li>
                                                <li>
                                                    Active Optical Cables (AOC)
                                                </li>
                                                <li>
                                                    1000BASE transceivers
                                                </li>
                                            </ul>

                                            <img src="./assets/images/usb.jpg" alt="" class="img-bottom">
                                        </div>

                                        <div class="list-item">
                                            <h4>Wireless</h4>

                                            <ul>
                                                <li>
                                                    Wireless Access Point – Indoor
                                                </li>
                                                <li>
                                                    Wireless Access Point – Outdoor
                                                </li>
                                                <li>
                                                    Wireless Management solutions
                                                </li>
                                                <li>
                                                    Accessories
                                                </li>
                                            </ul>

                                            <img src="./assets/images/ruckus.jpg" alt="" class="img-bottom">
                                        </div>
                                    </div>

                                    <button class="read-less">See less</button>
                                </div>
                            </div>

                            <div class="accordian">
                                <div class="accordian-item">
                                    <div class="col-3 products-title">
                                        Hardware
                                    </div>

                                    <div class="col-3 description">
                                        All cables linked to the<br>optical fibre
                                    </div>

                                    <div class="col-3">
                                        <img src="./assets/images/ex-products.png" alt="" class="img-sort">
                                    </div>

                                    <div class="col-3">
                                        <button class="read-more">See more</button>
                                    </div>
                                </div>

                                <div class="accordian-item-content">
                                    <div class="list-wrap">
                                        <div class="list-item">
                                            <h4>Transceivers</h4>
                                            <ul>
                                                <li>
                                                    1G/10G/25G switches
                                                </li>
                                                <li>
                                                    40G/100G/400G swiches
                                                </li>
                                                <li>
                                                    PoE Switches
                                                </li>
                                                <li>
                                                    Enterprise Routers
                                                </li>
                                                <li>
                                                    Accessories
                                                </li>
                                            </ul>

                                            <img src="./assets/images/sans-titre.jpg" alt="" class="img-bottom">
                                        </div>

                                        <div class="list-item">
                                            <h4>PDU, UPS, Power system</h4>

                                            <ul>
                                                <li>
                                                    PDU power strips
                                                </li>
                                                <li>
                                                    Uninterruptible power supply (UPS)
                                                </li>
                                                <li>
                                                    IEC power cords
                                                </li>
                                            </ul>

                                            <img src="./assets/images/pdu.jpg" alt="" class="img-bottom">
                                        </div>

                                        <div class="list-item">
                                            <h4>Transceivers</h4>

                                            <ul>
                                                <li>
                                                    400G/100G/25G transceivers
                                                </li>
                                                <li>
                                                    40G/10G transceivers
                                                </li>
                                                <li>
                                                    5G network transceivers
                                                </li>
                                                <li>
                                                    Direct attach cables (DAC)
                                                </li>
                                                <li>
                                                    Active Optical Cables (AOC)
                                                </li>
                                                <li>
                                                    1000BASE transceivers
                                                </li>
                                            </ul>

                                            <img src="./assets/images/usb.jpg" alt="" class="img-bottom">
                                        </div>

                                        <div class="list-item">
                                            <h4>Wireless</h4>

                                            <ul>
                                                <li>
                                                    Wireless Access Point – Indoor
                                                </li>
                                                <li>
                                                    Wireless Access Point – Outdoor
                                                </li>
                                                <li>
                                                    Wireless Management solutions
                                                </li>
                                                <li>
                                                    Accessories
                                                </li>
                                            </ul>

                                            <img src="./assets/images/ruckus.jpg" alt="" class="img-bottom">
                                        </div>
                                    </div>

                                    <button class="read-less">See less</button>
                                </div>
                            </div>

                            <div class="accordian">
                                <div class="accordian-item">
                                    <div class="col-3 products-title">
                                        Test &<br>
                                        Mesureament
                                    </div>

                                    <div class="col-3 description">
                                        All cables linked to the<br>optical fibre
                                    </div>

                                    <div class="col-3">
                                        <img src="./assets/images/ex-products.png" alt="" class="img-sort">
                                    </div>

                                    <div class="col-3">
                                        <button class="read-more">See more</button>
                                    </div>
                                </div>

                                <div class="accordian-item-content">
                                    <div class="list-wrap">
                                        <div class="list-item">
                                            <h4>Transceivers</h4>
                                            <ul>
                                                <li>
                                                    1G/10G/25G switches
                                                </li>
                                                <li>
                                                    40G/100G/400G swiches
                                                </li>
                                                <li>
                                                    PoE Switches
                                                </li>
                                                <li>
                                                    Enterprise Routers
                                                </li>
                                                <li>
                                                    Accessories
                                                </li>
                                            </ul>

                                            <img src="./assets/images/sans-titre.jpg" alt="" class="img-bottom">
                                        </div>

                                        <div class="list-item">
                                            <h4>PDU, UPS, Power system</h4>

                                            <ul>
                                                <li>
                                                    PDU power strips
                                                </li>
                                                <li>
                                                    Uninterruptible power supply (UPS)
                                                </li>
                                                <li>
                                                    IEC power cords
                                                </li>
                                            </ul>

                                            <img src="./assets/images/pdu.jpg" alt="" class="img-bottom">
                                        </div>

                                        <div class="list-item">
                                            <h4>Transceivers</h4>

                                            <ul>
                                                <li>
                                                    400G/100G/25G transceivers
                                                </li>
                                                <li>
                                                    40G/10G transceivers
                                                </li>
                                                <li>
                                                    5G network transceivers
                                                </li>
                                                <li>
                                                    Direct attach cables (DAC)
                                                </li>
                                                <li>
                                                    Active Optical Cables (AOC)
                                                </li>
                                                <li>
                                                    1000BASE transceivers
                                                </li>
                                            </ul>

                                            <img src="./assets/images/usb.jpg" alt="" class="img-bottom">
                                        </div>

                                        <div class="list-item">
                                            <h4>Wireless</h4>

                                            <ul>
                                                <li>
                                                    Wireless Access Point – Indoor
                                                </li>
                                                <li>
                                                    Wireless Access Point – Outdoor
                                                </li>
                                                <li>
                                                    Wireless Management solutions
                                                </li>
                                                <li>
                                                    Accessories
                                                </li>
                                            </ul>

                                            <img src="./assets/images/ruckus.jpg" alt="" class="img-bottom">
                                        </div>
                                    </div>

                                    <button class="read-less">See less</button>
                                </div>
                            </div>

                            <div class="accordian">
                                <div class="accordian-item">
                                    <div class="col-3 products-title">
                                        Tools & Safety
                                    </div>

                                    <div class="col-3 description">
                                        All cables linked to the<br>optical fibre
                                    </div>

                                    <div class="col-3">
                                        <img src="./assets/images/ex-products.png" alt="" class="img-sort">
                                    </div>

                                    <div class="col-3">
                                        <button class="read-more">See more</button>
                                    </div>
                                </div>

                                <div class="accordian-item-content">
                                    <div class="list-wrap">
                                        <div class="list-item">
                                            <h4>Transceivers</h4>
                                            <ul>
                                                <li>
                                                    1G/10G/25G switches
                                                </li>
                                                <li>
                                                    40G/100G/400G swiches
                                                </li>
                                                <li>
                                                    PoE Switches
                                                </li>
                                                <li>
                                                    Enterprise Routers
                                                </li>
                                                <li>
                                                    Accessories
                                                </li>
                                            </ul>

                                            <img src="./assets/images/sans-titre.jpg" alt="" class="img-bottom">
                                        </div>

                                        <div class="list-item">
                                            <h4>PDU, UPS, Power system</h4>

                                            <ul>
                                                <li>
                                                    PDU power strips
                                                </li>
                                                <li>
                                                    Uninterruptible power supply (UPS)
                                                </li>
                                                <li>
                                                    IEC power cords
                                                </li>
                                            </ul>

                                            <img src="./assets/images/pdu.jpg" alt="" class="img-bottom">
                                        </div>

                                        <div class="list-item">
                                            <h4>Transceivers</h4>

                                            <ul>
                                                <li>
                                                    400G/100G/25G transceivers
                                                </li>
                                                <li>
                                                    40G/10G transceivers
                                                </li>
                                                <li>
                                                    5G network transceivers
                                                </li>
                                                <li>
                                                    Direct attach cables (DAC)
                                                </li>
                                                <li>
                                                    Active Optical Cables (AOC)
                                                </li>
                                                <li>
                                                    1000BASE transceivers
                                                </li>
                                            </ul>

                                            <img src="./assets/images/usb.jpg" alt="" class="img-bottom">
                                        </div>

                                        <div class="list-item">
                                            <h4>Wireless</h4>

                                            <ul>
                                                <li>
                                                    Wireless Access Point – Indoor
                                                </li>
                                                <li>
                                                    Wireless Access Point – Outdoor
                                                </li>
                                                <li>
                                                    Wireless Management solutions
                                                </li>
                                                <li>
                                                    Accessories
                                                </li>
                                            </ul>

                                            <img src="./assets/images/ruckus.jpg" alt="" class="img-bottom">
                                        </div>
                                    </div>

                                    <button class="read-less">See less</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-right col-4">
                <div class="comments">
                    <h3>Comments</h3>

                    <ul>
                        <li>
                            The four product families (1 to 4 below) Optical Cable, Optical Accessories, Optical Rack and Hybrid Fiber Coaxial (HFC) are products (materials and components) referenced with a given network operator : they mainly represent the infrastructure and maintenance investment made by the network operator, mostly via its subcontractors, customers of the group
                        </li>

                        <li>
                            In the vast majority of cases, the group is referenced as sole supplier for the given operator for these 4 product families
                        </li>

                        <li>
                            The two product families 5 and 6, are proprietary to ETC Group ; principally non-referenced with the operator, but represent ETC Group’s offer as a one-stop shop
                        </li>

                        <li>
                            Such products are sold under ETC Group’s own label or sold by as sole national distributor for a foreign supplier of branded products
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>