<div class="block-featured-articles featured media-article">
    <div class="wrapper full-width">
        <select class="select2">
            <option value="Articles">Articles</option>
            <option value="Articles1">Articles1</option>
            <option value="Articles2">Articles2</option>
        </select>
        <div class="row-col d-flex">
            <div class="col-item">
                <div class="item-body">
                    <div class="date">09/04/2019</div>
                    <h3 class="title-article">The new opening hours of the Gennevilliers counter</h3>
                    <a href="#" class="link-more">Read more</a>
                </div>
                <img src="./assets/images/img-articles-1.jpg" alt="" class="img-bottom">
            </div>
            <div class="col-item">
                <div class="item-body">
                    <div class="date">09/04/2019</div>
                    <h3 class="title-article">The American Carlyle invests in the tricolor fiber industry</h3>
                    <a href="#" class="link-more">Read more</a>
                </div>
                <img src="./assets/images/img-articles-2.jpg" alt="" class="img-bottom">
            </div>
            <div class="col-item">
                <div class="item-body">
                    <div class="date">09/04/2019</div>
                    <h3 class="title-article">ETC participates to the Data Center World on november 27</h3>
                    <a href="#" class="link-more">Read more</a>
                </div>
                <img src="./assets/images/img-articles-3.jpg" alt="" class="img-bottom">
            </div>
            <div class="col-item">
                <div class="item-body">
                    <div class="date">09/04/2019</div>
                    <h3 class="title-article">The new opening hours of the Gennevilliers counter</h3>
                    <a href="#" class="link-more">Read more</a>
                </div>
                <img src="./assets/images/img-articles-1.jpg" alt="" class="img-bottom">
            </div>
            <div class="col-item">
                <div class="item-body">
                    <div class="date">09/04/2019</div>
                    <h3 class="title-article">The American Carlyle invests in the tricolor fiber industry</h3>
                    <a href="#" class="link-more">Read more</a>
                </div>
                <img src="./assets/images/img-articles-2.jpg" alt="" class="img-bottom">
            </div>
            <div class="col-item">
                <div class="item-body">
                    <div class="date">09/04/2019</div>
                    <h3 class="title-article">ETC participates to the Data Center World on november 27</h3>
                    <a href="#" class="link-more">Read more</a>
                </div>
                <img src="./assets/images/img-articles-3.jpg" alt="" class="img-bottom">
            </div>
            <div class="col-item">
                <div class="item-body">
                    <div class="date">09/04/2019</div>
                    <h3 class="title-article">The new opening hours of the Gennevilliers counter</h3>
                    <a href="#" class="link-more">Read more</a>
                </div>
                <img src="./assets/images/img-articles-1.jpg" alt="" class="img-bottom">
            </div>
            <div class="col-item">
                <div class="item-body">
                    <div class="date">09/04/2019</div>
                    <h3 class="title-article">The American Carlyle invests in the tricolor fiber industry</h3>
                    <a href="#" class="link-more">Read more</a>
                </div>
                <img src="./assets/images/img-articles-2.jpg" alt="" class="img-bottom">
            </div>
            <div class="col-item">
                <div class="item-body">
                    <div class="date">09/04/2019</div>
                    <h3 class="title-article">ETC participates to the Data Center World on november 27</h3>
                    <a href="#" class="link-more">Read more</a>
                </div>
                <img src="./assets/images/img-articles-3.jpg" alt="" class="img-bottom">
            </div>
        </div>
        {% include '../components/pagination.twig' %}
    </div>
</div>
