<div class="banner banner-media-event">
    <div class="banner-main">
        <div class="wrapper full-width">
            <ul class="breadcrumb">
                <li><a href="#">Home</a></li>
                <li class="active">Services & Products</li>
            </ul>
            <h1 class="title">Services</h1>
        </div>
    </div>
    <div class="banner-bottom">
        <div class="wrapper">
            <div class="row-col d-flex">
                <div class="col-left">
                    <p class="text-medium">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
                        ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                        aliquip.</p>
                    <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                        Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est
                        laborum excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id
                        est laborum.</p>
                </div>
                <div class="col-right">
                    <img src="./assets/images/Bitmap.png" alt="" class="img-right">
                </div>
            </div>
        </div>
    </div>
</div>

<div class="block-services">
    <div class="wrapper">

        <div class="row-col">
            <div class="col-left">
                <h2>Procurement as a Service</h2>
                <p>To anticipate mutation of Telco operators
                    who need to focus on their core business to be competitive, ETC Group
                    has developed a specific procurement model that combines expertise, technology and highly skilled ressources
                </p>
                <p class="text-medium margin-bt">Outsourcing process brings:</p>
                <ul>
                    <li>Lower material prices based on global volumes</li>
                    <li>Low working capital</li>
                    <li>No warehouse expenses</li>
                    <li>Prevents waste of material</li>
                    <li>Timely delivery and improved planning: help deploy faster</li>
                </ul>
            </div>
            <div class="col-right">
                <div class="include-image">
                    <img src="./assets/images/services-1.png" alt="">
                </div>
            </div>
        </div>

        <div class="row-col reverse">
            <div class="col-left">
                <h2>Logistics as a Service</h2>
                <p>Plug on play model specifically designed for telco operators. Our logistics experts are always looking for ways to do it better, faster and cheaper.
                </p>
                <p class="text-medium margin-bt">Logistics service covers:</p>
                <ul>
                    <li> Inbound / Outbound</li>
                    <li>Transportation network management</li>
                    <li>Warehouse management</li>
                    <li>Refurbishing (set-top box, home gateways)</li>
                    <li>Repair center</li>
                    <li>Mobile commercial activity (kitting, packaging, shipping)</li>
                </ul>
            </div>
            <div class="col-right">
                <div class="include-image">
                    <img src="./assets/images/services-2.png" alt="">
                </div>
            </div>
        </div>


        <div class="row-col our-offer">
            <div class="col-left">
                <h2>Consultancy & Design</h2>
                <p>Telecommunication Market is facing major challenges today : new technologies, tough competition between Service Providers,
                    business models involving large investments, evolution of consumer policy…
                </p>
                <p>With 25+ years of experience in the Telecommunication Industry, ETC Group keeps providing
                    the best Service to Telecom value chain by supporting all the actors to meet their business strategy.</p>
            </div>
            <div class="col-right">
                <div class="include-image">
                    <img src="./assets/images/service-3.png" alt="">
                </div>
            </div>

        </div>
        <div class="block-our-offer">
            <p class="text-medium semi-bold">Our offer:</p>
            <div class="include-items">
                <div class="item">
                    <p>Make sure <span class="text-medium">Supply Chain & Operations</span> meets the mark to
                        improve top-line growth and minimize risks of wasting money and/or postpone rollout</p>
                </div>
                <div class="item">
                    <p>Consultancy services in <span class="text-medium">Product Development, Design & Innovation</span>
                        through a highly-skilled <span class="text-medium"> Technology team</span>  and with a long-term experience in telecommunication network projects</p>
                </div>
                <div class="item">
                    <p>Ability to advise wisely customers on the right <span class="text-medium">Engineering & Materials</span> required to build efficiently a Network by
                        reducing quantity of SKU’s, rollout & maintenance costs and risks on the whole Supply Chain</p>
                </div>
            </div>
        </div>

        <div class="row-col reverse our-offer">
            <div class="col-left">
                <h2>Training</h2>
                <p>To face increasing complexity of telecommunication networks, ETC Group has built a strong Technical team to support operators & contractors.
                </p>
                <p>Both our Technical & sales team are constantly trained by global leading manufacturers to be fully aligned with latest technologies.</p>
            </div>
            <div class="col-right">
                <div class="include-image">
                    <img src="./assets/images/training.png" alt="">
                </div>
            </div>
        </div>
        <div class="row-col training-list">
            <div class="col-left">
                <p class="text-medium semi-bold">Our team can cover full Telecommunication requirements in the following areas:</p>
                <ul>
                    <li>FttH network rollout & maintenance</li>
                    <li>HFC upgrade & maintenance</li>
                    <li>4G / 5G infra</li>
                    <li>Datacenters infra</li>
                    <li>B2B infra</li>
                </ul>
            </div>
            <div class="col-right">
                <p class="text-medium semi-bold">Our Training capabilities:</p>
                <ul>
                    <li>On-site and webinars training</li>
                    <li>High level measurement equipment (Network monitoring,</li>
                    <li>Transmission testing, antenna alignment…)</li>
                    <li>Testing & Troubleshooting (Fiber, Copper, CATV)</li>
                    <li>Structured cabling design, engineering & installation</li>
                    <li>Fiber preparation and Fusion Splicing</li>
                </ul>
            </div>
        </div>
        <div class="row-col recycling">
            <div class="col-left">
                <h2>Maintenance, recycling <br> & sorting processes
                </h2>
                <p>ETC Group is highly skilled in laboratory operations providing
                    high repair level to telco operators and contractors to maintain costly equipment.
                </p>
                <p>>All conscious of our rule to minimize impact on the environment, we have set up efficient processes such as:
                    Set-top box refurbishing / recycling
                    Public phone dismantling, sorting and scraping
                    Sorting and scraping of obsolete equipment
                    Cleaning and re-use of patchcords, power supplies…
                </p>

            </div>
            <div class="col-right">
                <div class="include-image">
                    <img src="./assets/images/services-4.png" alt="">
                </div>
            </div>
        </div>

    </div>
</div>