<div class="block-services-cms">
    <div class="wrapper">
        <div class="row-col d-flex">
            <div class="col-left">
                <ul class="list-group">
                    <li class="active">Wireline Networks <img src="./assets/images/Arrow_3.svg" alt=""></li>
                    <li>Data Center <img src="./assets/images/Arrow_3.svg" alt=""></li>
                    <li>Wireless <img src="./assets/images/Arrow_3.svg" alt=""></li>
                    <li>Enterprise <img src="./assets/images/Arrow_3.svg" alt=""></li>
                </ul>
            </div>
            <div class="col-right content-text">
                <div class="des-item show">
                    <h2>Wireline Network Solutions</h2>
                    <p>With 27+ years of experience in the Wireline Industry, ETC Group offers a complete and wide range of
                        Telecom Wireline products from the Core Networks, Central Offices and Access Networks.</p>
                    <p>It is today your turn to seize the opportunity to use our cost-effective and easy-to-install
                        solutions for your network migration or new FTTH rollout.</p>
                    <h3>Our Wireline Portfolio is covering :</h3>
                    <ul>
                        <li>Core Networks</li>
                        <li>Central Office & Headend</li>
                        <li>FTTX & HFC Access</li>
                        <li>Test & Measurement Network Instrument</li>
                    </ul>
                </div>
                <div class="des-item">
                    <h2>Wireline Network Solutions 2</h2>
                    <p>With 27+ years of experience in the Wireline Industry, ETC Group offers a complete and wide range of
                        Telecom Wireline products from the Core Networks, Central Offices and Access Networks.</p>
                    <p>It is today your turn to seize the opportunity to use our cost-effective and easy-to-install
                        solutions for your network migration or new FTTH rollout.</p>
                    <h3>Our Wireline Portfolio is covering :</h3>
                    <ul>
                        <li>Core Networks</li>
                        <li>Central Office & Headend</li>
                        <li>FTTX & HFC Access</li>
                        <li>Test & Measurement Network Instrument</li>
                    </ul>
                </div>
                <div class="des-item">
                    <h2>Wireline Network Solutions 3</h2>
                    <p>With 27+ years of experience in the Wireline Industry, ETC Group offers a complete and wide range of
                        Telecom Wireline products from the Core Networks, Central Offices and Access Networks.</p>
                    <p>It is today your turn to seize the opportunity to use our cost-effective and easy-to-install
                        solutions for your network migration or new FTTH rollout.</p>
                    <h3>Our Wireline Portfolio is covering :</h3>
                    <ul>
                        <li>Core Networks</li>
                        <li>Central Office & Headend</li>
                        <li>FTTX & HFC Access</li>
                        <li>Test & Measurement Network Instrument</li>
                    </ul>
                </div>
                <div class="des-item">
                    <h2>Wireline Network Solutions 4</h2>
                    <p>With 27+ years of experience in the Wireline Industry, ETC Group offers a complete and wide range of
                        Telecom Wireline products from the Core Networks, Central Offices and Access Networks.</p>
                    <p>It is today your turn to seize the opportunity to use our cost-effective and easy-to-install
                        solutions for your network migration or new FTTH rollout.</p>
                    <h3>Our Wireline Portfolio is covering :</h3>
                    <ul>
                        <li>Core Networks</li>
                        <li>Central Office & Headend</li>
                        <li>FTTX & HFC Access</li>
                        <li>Test & Measurement Network Instrument</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
