<div class="block-slide-partner">
    <div class="list-partner">
        <div class="item-logo">
            <img src="./assets/images/slide-logo1.png" alt="">
        </div>
        <div class="item-logo">
            <img src="./assets/images/slide-logo2.png" alt="">
        </div>
        <div class="item-logo">
            <img src="./assets/images/slide-logo3.png" alt="">
        </div>
        <div class="item-logo">
            <img src="./assets/images/slide-logo4.png" alt="">
        </div>
        <div class="item-logo">
            <img src="./assets/images/slide-logo5.png" alt="">
        </div>
        <div class="item-logo">
            <img src="./assets/images/slide-logo6.png" alt="">
        </div>
        <div class="item-logo">
            <img src="./assets/images/slide-logo1.png" alt="">
        </div>
        <div class="item-logo">
            <img src="./assets/images/slide-logo2.png" alt="">
        </div>
        <div class="item-logo">
            <img src="./assets/images/slide-logo3.png" alt="">
        </div>
        <div class="item-logo">
            <img src="./assets/images/slide-logo4.png" alt="">
        </div>
        <div class="item-logo">
            <img src="./assets/images/slide-logo5.png" alt="">
        </div>
        <div class="item-logo">
            <img src="./assets/images/slide-logo6.png" alt="">
        </div>
    </div>
</div>
