<div class="block-technico-collapse">
    <div class="wrapper">
        <div class="form-group">
            <select class="select2">
                <option value="All">All</option>
                <option value="All">France</option>
                <option value="All">Portugal</option>
            </select>
        </div>
        <div class="list-collapse">
            <div class="row-collapse active">
                <div class="item-collapse">
                    <h3><img src="./assets/images/flag-fr.png" alt="">Technico-Commercial Sud (H/F)</h3>
                    <div class="open-collapse"><a href="javascript: void(0);" class="link-more">See more</a><i
                                class="icon-up-open-big"></i></div>
                </div>
                <div class="des-collapse" style="display: block">
                    <div class="row-col d-flex">
                        <div class="col-left">
                            <div class="item">
                                <h4>ville</h4>
                                <p>Poste dans le Centre-Val de Loire, idéalement basé à Tour</p>
                            </div>
                            <div class="item">
                                <h4>Contrat</h4>
                                <p>CDI (plein temps)</p>
                            </div>
                            <a href="#" class="link-more">Postuler à cette offre</a>
                        </div>
                        <div class="col-right content-text">
                            <p class="text-medium">Nous recherchons aujourd’hui un Contrôleur de gestion (h/f), opérant
                                sur les différentes
                                entités du Groupe, pour complémenter notre équipe.</p>
                            <p class="text-medium">Sous la responsabilité du Directeur Administratif et Financier Group
                                et en collaboration
                                avec la Responsable Consolidation, Contrôle interne & Reporting, vous contribuerez à la
                                mise en place et au développement du contrôle de gestion du groupe, tout
                                particulièrement sur les activités françaises, tout en accompagnant les différents
                                services
                                dans le pilotage de leur activité.</p>
                            <h2>Description du poste</h2>
                            <ul>
                                <li>Vous commercialisez les produits et solutions techniques de l’entreprise auprès
                                    d’une
                                    clientèle de professionnels sur le secteur Sud.
                                </li>
                                <li>Vous suivez, conseillez et fidélisez vos clients (grands acteurs des télécoms).
                                    Après une analyse détaillée de leurs besoins vous proposez les solutions les plus
                                    adaptées.
                                </li>
                                <li>Vous développez et prospectez de nouveaux clients afin d’élargir votre portefeuille.
                                    Vous êtes le garant de la satisfaction de vos clients.
                                </li>
                                <li>Vous assurez une veille concurrentielle et effectuez un reporting régulier à votre
                                    direction.
                                </li>
                            </ul>
                            <h2>Profil recherché </h2>
                            <ul>
                                <li>De formation technique et/ou commerciale de type Bac +2 à Bac +3, vous souhaitez
                                    valoriser une première expérience dans la vente de produits auprès d’entreprises
                                    (stage long ou alternance acceptés).
                                </li>
                                <li>La connaissance du domaine des réseaux télécoms et/ou de l’électronique serait un
                                    plus.
                                </li>
                                <li>Rigoureux(se), proactif(ve), tenace et dynamique, vous souhaitez mettre à profit vos
                                    qualités relationnelles, votre sens de l’écoute et de l’engagement client à un poste
                                    proposant
                                    autonomie et technicité au sein d’une entreprise en plein essor.
                                </li>
                                <li>La maîtrise du tableur Excel est impérative.</li>
                            </ul>
                            <h2>Salaire</h2>
                            <ul>
                                <li>Rémunération : Fixe + Variable + Primes sur Objectifs + Véhicule de fonction + Equipements
                                    bureautique</li>
                            </ul>
                            <a href="#" class="link-more">Postuler à cette offre</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row-collapse">
                <div class="item-collapse">
                    <h3><img src="./assets/images/flag-fr.png" alt="">Sourcing - Other equipment</h3>
                    <div class="open-collapse"><a href="javascript: void(0);" class="link-more">See more</a><i
                                class="icon-up-open-big"></i></div>
                </div>
                <div class="des-collapse">
                    <div class="row-col d-flex">
                        <div class="col-left">
                            <div class="item">
                                <h4>ville</h4>
                                <p>Poste dans le Centre-Val de Loire, idéalement basé à Tour</p>
                            </div>
                            <div class="item">
                                <h4>Contrat</h4>
                                <p>CDI (plein temps)</p>
                            </div>
                            <a href="#" class="link-more">Postuler à cette offre</a>
                        </div>
                        <div class="col-right content-text">
                            <p class="text-medium">Nous recherchons aujourd’hui un Contrôleur de gestion (h/f), opérant
                                sur les différentes
                                entités du Groupe, pour complémenter notre équipe.</p>
                            <p class="text-medium">Sous la responsabilité du Directeur Administratif et Financier Group
                                et en collaboration
                                avec la Responsable Consolidation, Contrôle interne & Reporting, vous contribuerez à la
                                mise en place et au développement du contrôle de gestion du groupe, tout
                                particulièrement sur les activités françaises, tout en accompagnant les différents
                                services
                                dans le pilotage de leur activité.</p>
                            <h2>Description du poste</h2>
                            <ul>
                                <li>Vous commercialisez les produits et solutions techniques de l’entreprise auprès
                                    d’une
                                    clientèle de professionnels sur le secteur Sud.
                                </li>
                                <li>Vous suivez, conseillez et fidélisez vos clients (grands acteurs des télécoms).
                                    Après une analyse détaillée de leurs besoins vous proposez les solutions les plus
                                    adaptées.
                                </li>
                                <li>Vous développez et prospectez de nouveaux clients afin d’élargir votre portefeuille.
                                    Vous êtes le garant de la satisfaction de vos clients.
                                </li>
                                <li>Vous assurez une veille concurrentielle et effectuez un reporting régulier à votre
                                    direction.
                                </li>
                            </ul>
                            <h2>Profil recherché </h2>
                            <ul>
                                <li>De formation technique et/ou commerciale de type Bac +2 à Bac +3, vous souhaitez
                                    valoriser une première expérience dans la vente de produits auprès d’entreprises
                                    (stage long ou alternance acceptés).
                                </li>
                                <li>La connaissance du domaine des réseaux télécoms et/ou de l’électronique serait un
                                    plus.
                                </li>
                                <li>Rigoureux(se), proactif(ve), tenace et dynamique, vous souhaitez mettre à profit vos
                                    qualités relationnelles, votre sens de l’écoute et de l’engagement client à un poste
                                    proposant
                                    autonomie et technicité au sein d’une entreprise en plein essor.
                                </li>
                                <li>La maîtrise du tableur Excel est impérative.</li>
                            </ul>
                            <h2>Salaire</h2>
                            <ul>
                                <li>Rémunération : Fixe + Variable + Primes sur Objectifs + Véhicule de fonction + Equipements
                                    bureautique</li>
                            </ul>
                            <a href="#" class="link-more">Postuler à cette offre</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row-collapse">
                <div class="item-collapse">
                    <h3><img src="./assets/images/flag-ut.png" alt="">Logistics</h3>
                    <div class="open-collapse"><a href="javascript: void(0);" class="link-more">See more</a><i
                                class="icon-up-open-big"></i></div>
                </div>
                <div class="des-collapse">
                    <div class="row-col d-flex">
                        <div class="col-left">
                            <div class="item">
                                <h4>ville</h4>
                                <p>Poste dans le Centre-Val de Loire, idéalement basé à Tour</p>
                            </div>
                            <div class="item">
                                <h4>Contrat</h4>
                                <p>CDI (plein temps)</p>
                            </div>
                            <a href="#" class="link-more">Postuler à cette offre</a>
                        </div>
                        <div class="col-right content-text">
                            <p class="text-medium">Nous recherchons aujourd’hui un Contrôleur de gestion (h/f), opérant
                                sur les différentes
                                entités du Groupe, pour complémenter notre équipe.</p>
                            <p class="text-medium">Sous la responsabilité du Directeur Administratif et Financier Group
                                et en collaboration
                                avec la Responsable Consolidation, Contrôle interne & Reporting, vous contribuerez à la
                                mise en place et au développement du contrôle de gestion du groupe, tout
                                particulièrement sur les activités françaises, tout en accompagnant les différents
                                services
                                dans le pilotage de leur activité.</p>
                            <h2>Description du poste</h2>
                            <ul>
                                <li>Vous commercialisez les produits et solutions techniques de l’entreprise auprès
                                    d’une
                                    clientèle de professionnels sur le secteur Sud.
                                </li>
                                <li>Vous suivez, conseillez et fidélisez vos clients (grands acteurs des télécoms).
                                    Après une analyse détaillée de leurs besoins vous proposez les solutions les plus
                                    adaptées.
                                </li>
                                <li>Vous développez et prospectez de nouveaux clients afin d’élargir votre portefeuille.
                                    Vous êtes le garant de la satisfaction de vos clients.
                                </li>
                                <li>Vous assurez une veille concurrentielle et effectuez un reporting régulier à votre
                                    direction.
                                </li>
                            </ul>
                            <h2>Profil recherché </h2>
                            <ul>
                                <li>De formation technique et/ou commerciale de type Bac +2 à Bac +3, vous souhaitez
                                    valoriser une première expérience dans la vente de produits auprès d’entreprises
                                    (stage long ou alternance acceptés).
                                </li>
                                <li>La connaissance du domaine des réseaux télécoms et/ou de l’électronique serait un
                                    plus.
                                </li>
                                <li>Rigoureux(se), proactif(ve), tenace et dynamique, vous souhaitez mettre à profit vos
                                    qualités relationnelles, votre sens de l’écoute et de l’engagement client à un poste
                                    proposant
                                    autonomie et technicité au sein d’une entreprise en plein essor.
                                </li>
                                <li>La maîtrise du tableur Excel est impérative.</li>
                            </ul>
                            <h2>Salaire</h2>
                            <ul>
                                <li>Rémunération : Fixe + Variable + Primes sur Objectifs + Véhicule de fonction + Equipements
                                    bureautique</li>
                            </ul>
                            <a href="#" class="link-more">Postuler à cette offre</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row-collapse">
                <div class="item-collapse">
                    <h3><img src="./assets/images/flag-ut.png" alt="">Equipment maintenance</h3>
                    <div class="open-collapse"><a href="javascript: void(0);" class="link-more">See more</a><i
                                class="icon-up-open-big"></i></div>
                </div>
                <div class="des-collapse">
                    <div class="row-col d-flex">
                        <div class="col-left">
                            <div class="item">
                                <h4>ville</h4>
                                <p>Poste dans le Centre-Val de Loire, idéalement basé à Tour</p>
                            </div>
                            <div class="item">
                                <h4>Contrat</h4>
                                <p>CDI (plein temps)</p>
                            </div>
                            <a href="#" class="link-more">Postuler à cette offre</a>
                        </div>
                        <div class="col-right content-text">
                            <p class="text-medium">Nous recherchons aujourd’hui un Contrôleur de gestion (h/f), opérant
                                sur les différentes
                                entités du Groupe, pour complémenter notre équipe.</p>
                            <p class="text-medium">Sous la responsabilité du Directeur Administratif et Financier Group
                                et en collaboration
                                avec la Responsable Consolidation, Contrôle interne & Reporting, vous contribuerez à la
                                mise en place et au développement du contrôle de gestion du groupe, tout
                                particulièrement sur les activités françaises, tout en accompagnant les différents
                                services
                                dans le pilotage de leur activité.</p>
                            <h2>Description du poste</h2>
                            <ul>
                                <li>Vous commercialisez les produits et solutions techniques de l’entreprise auprès
                                    d’une
                                    clientèle de professionnels sur le secteur Sud.
                                </li>
                                <li>Vous suivez, conseillez et fidélisez vos clients (grands acteurs des télécoms).
                                    Après une analyse détaillée de leurs besoins vous proposez les solutions les plus
                                    adaptées.
                                </li>
                                <li>Vous développez et prospectez de nouveaux clients afin d’élargir votre portefeuille.
                                    Vous êtes le garant de la satisfaction de vos clients.
                                </li>
                                <li>Vous assurez une veille concurrentielle et effectuez un reporting régulier à votre
                                    direction.
                                </li>
                            </ul>
                            <h2>Profil recherché </h2>
                            <ul>
                                <li>De formation technique et/ou commerciale de type Bac +2 à Bac +3, vous souhaitez
                                    valoriser une première expérience dans la vente de produits auprès d’entreprises
                                    (stage long ou alternance acceptés).
                                </li>
                                <li>La connaissance du domaine des réseaux télécoms et/ou de l’électronique serait un
                                    plus.
                                </li>
                                <li>Rigoureux(se), proactif(ve), tenace et dynamique, vous souhaitez mettre à profit vos
                                    qualités relationnelles, votre sens de l’écoute et de l’engagement client à un poste
                                    proposant
                                    autonomie et technicité au sein d’une entreprise en plein essor.
                                </li>
                                <li>La maîtrise du tableur Excel est impérative.</li>
                            </ul>
                            <h2>Salaire</h2>
                            <ul>
                                <li>Rémunération : Fixe + Variable + Primes sur Objectifs + Véhicule de fonction + Equipements
                                    bureautique</li>
                            </ul>
                            <a href="#" class="link-more">Postuler à cette offre</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
