<div class="block-featured-articles featured">
    <div class="wrapper full-width">
        <h2 class="title-medium text-center">Featured white papers & presentations</h2>
        <div class="row-col d-flex">
            <div class="col-item col-item-white">
                <img src="./assets/images/white-paper-1.jpg" alt="" class="img-left">
                <div class="item-body">
                    <div class="date">09/04/2019</div>
                    <h3 class="title-article">A broadband network cost model</h3>
                    <a href="#" class="link-more">Read more</a>
                </div>
            </div>
            <div class="col-item col-item-white">
                <img src="./assets/images/white-paper-2.jpg" alt="" class="img-left">
                <div class="item-body">
                    <div class="date">09/04/2019</div>
                    <h3 class="title-article">mmWave for 5G fixed wireless access : market…</h3>
                    <a href="#" class="link-more">Read more</a>
                </div>
            </div>
            <div class="col-item col-item-white">
                <img src="./assets/images/white-paper-3.jpg" alt="" class="img-left">
                <div class="item-body">
                    <div class="date">09/04/2019</div>
                    <h3 class="title-article">Strategies for connecting the edge : 2019 Heavy…</h3>
                    <a href="#" class="link-more">Read more</a>
                </div>
            </div>
        </div>
        <div class="bottom-btn text-center">
            <a href="#" class="btn btn-white-border">Additional content</a>
        </div>
    </div>
</div>

