<div class="block-why-etc-group">
    <div class="wrapper full-width">
        <h2 class="title-medium text-center">Why ETC Group</h2>
        <div class="row-col d-flex">
            <div class="col-item">
                <div class="image-left">
                    <img src="./assets/images/why-etc-1.jpg" alt="">
                </div>
                <div class="content">
                    <img src="./assets/images/Icon_1.svg" alt="" class="icon">
                    <p>We currently support the parts needs for every type of Telecom Operator or Contractor</p>
                </div>
            </div>
            <div class="col-item">
                <div class="image-left">
                    <img src="./assets/images/why-etc-2.jpg" alt="">
                </div>
                <div class="content">
                    <img src="./assets/images/Icon_2.svg" alt="" class="icon">
                    <p>We are single source for materials and logistics solutions thus simplifying your operation</p>
                </div>
            </div>
            <div class="col-item">
                <div class="image-left">
                    <img src="./assets/images/why-etc-3.jpg" alt="">
                </div>
                <div class="content">
                    <img src="./assets/images/Icon_3.svg" alt="" class="icon">
                    <p>Our scale & expertise will translate to significant operating & purchase cost benefits to your operation</p>
                </div>
            </div>
        </div>
        <div class="row-col d-flex">
            <div class="col-item">
                <div class="image-left">
                    <img src="./assets/images/why-etc-4.jpg" alt="">
                </div>
                <div class="content">
                    <img src="./assets/images/Icon_4.svg" alt="" class="icon">
                    <p>Our supply chain optimization solutions allows our customers to focus on their business knowing the supply chain is well managed</p>
                </div>
            </div>
            <div class="col-item">
                <div class="image-left">
                    <img src="./assets/images/why-etc-5.jpg" alt="">
                </div>
                <div class="content">
                    <img src="./assets/images/Icon_5.svg" alt="" class="icon">
                    <p>We have many strategic relationships already in place with the largest Telecom suppliers and manufacturers</p>
                </div>
            </div>
            <div class="col-item">
                <div class="image-left">
                    <img src="./assets/images/why-etc-6.jpg" alt="">
                </div>
                <div class="content">
                    <img src="./assets/images/Icon_6.svg" alt="" class="icon">
                    <p>Our intense focus on timely materials distribution supporting our customers critical projects & operations materials needs
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
