.block-content-two-column {
    padding: 100px 0 60px;
    .title {
        margin-bottom: 50px;
    }
    .col {
        width: 466px;

        &:first-child {
            margin-right: 70px;
        }
    }
    &.column-sm {
        padding: 40px 0;
        .title {
            color: $black;
            font-weight: 600;
            margin-bottom: 20px;
        }
        .col {
            width: 428px;

            &:first-child {
                margin-right: 50px;
            }
        }
    }
    &.carrer-column {
        padding-top: 130px;
        .title {
            margin-bottom: 25px;
        }
    }
}
