.block-etc-group {
    background-color: $bg-purple-light;
    min-height: 491px;

    h2 {
        font-weight: 700;
        font-size: 30px;
        letter-spacing: 0.02em;
        line-height: 45px;
        text-align: center;
        padding-top: 91px;
        color: $white;
    }
}